@font-face {
    font-family: 'Socialicon';
    src: url('../fonts/SocialmR/SocialicoPlus-Plus.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
  }

  @font-face {
    font-family: 'AuntR';
    src: url('../fonts/AuntR/17629.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
  }

  @font-face {
    font-family: 'AquaR';
    src: url('../fonts/AquaR/17460.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
  }

  @font-face {
    font-family: 'SignupR';
    src: url('../fonts/SignupR/Signup.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
  }

  
  @font-face {
    font-family: 'Poppins-medium';
    src: url('../fonts/Poppins-medium/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
  }