@import '../../shared/assets/scss/variables.scss';

.sidebar {
    position: relative;
    width: 256px;
    height: 100%;
    background-color: $base-blue-color;
    display: block;

    &__input {
        display: flex;
        padding-bottom: 3px;
        padding: 4px 7px;
        margin-top: 20px;
        width: 230px;
        margin-left: 20px;
        background-color: $base-grey-color;
        border-radius: 20px;
        font-size: $base-font-size;
        
        input {
            color: black; 
            border: none;
            font-style: normal; 
            background-color: $base-grey-color;
            font-size: $base-font-size;
            padding-left: 5px;
            width: 200px;

        } ::placeholder {
            font-style: italic;
            color: rgb(138, 138, 138);
            font-size: 16px;
        }
    }

    &__input::placeholder {
        color: rgb(138, 138, 138);
    }

    &__project {
        margin-left: 15px;
        margin-top: 20px;
        height: auto;
        width: auto;
        font-size: 150%;
        font-weight: bold;

        &-task {
            margin-left: 30px;
            margin-top: 10px;
            font-size: 85%;
            font-weight: normal;

            &-goal {
                margin-left: 45px;
                margin-top: 5px;
                font-size: 95%;
            }
        }
    }
}
