@import '../../shared/scss/variables.scss';

.sidebar {
    position: relative;
    width: 256px;
    height: 100%;
    background-color: $base-blue-color;
    display: block;

    &__input {
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 20px;
        width: 88%;
        height: 4%;
        background-color: $base-blue-color;
        border-width: 0 0 1px;
        border-color: #ffffff;
        outline: 0;
        font-size: 125%;
        color: #ffffff;
    }

    &__input::placeholder {
        border-width: 0 0 2px;
        color: #cccccc;
    }

    &__project {
        margin-left: 15px;
        margin-top: 20px;
        height: auto;
        width: auto;
        font-size: 150%;
        font-weight: bold;

        &-task {
            margin-left: 30px;
            margin-top: 10px;
            font-size: 85%;
            font-weight: normal;

            &-goal {
                margin-left: 45px;
                margin-top: 5px;
                font-size: 95%;
            }
        }
    }
}
